@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  font-size: 0.73rem;
  font-family: "Raleway", sans-serif;
  line-height: 3em;
}

header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px #44444420;
  text-align: center;
}

h1 {
  color: #56E39F;
  text-align: center;
  font-size: 4em;
  margin: 0;
  padding: 0.5em;
}

h2 {
  padding: 0 0 0.5em 0;
  margin: 0;
  box-shadow: 0 2px 3px -3px #000;
  color: #333;
}

section {
  max-width: 1024px;
  padding: 0.75em;
  margin: 0 auto;
  width: 90%;
}
section p {
  margin: 0.75em 1.4em;
}
section span {
  letter-spacing: 2px;
  font-size: 0.5em;
  transform: translateY(0.4em);
}

.submit {
  margin-bottom: 1em;
  outline: 2px solid #fff;
  outline-offset: -6px;
  text-align: center;
  background-color: #56E39F;
}
.submit h2 {
  transform: translateY(1em);
  font-size: 3em;
  color: #fff;
  box-shadow: none;
}
.submit input[type=submit] {
  cursor: pointer;
  margin: 3em auto;
  background-color: #56E39F;
  border: none;
  border-radius: 2px;
  padding: 0.2em 0.75em;
  font-size: 3em;
  color: #fff;
  box-shadow: 0 1px 2px #44444400;
  transition: all 200ms ease-in-out;
  border: 1px solid #fff;
}
.submit input[type=submit]:hover {
  box-shadow: 0 3px 5px #44444410;
  background-color: #fff;
  color: #56E39F;
}

.box {
  font-size: 1.5em;
  background-color: #fff;
  margin: 1.5em auto;
  box-shadow: 0 0 30px #4444440f;
}

.grid {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  text-transform: capitalize;
  grid-gap: 1em;
}
.grid p {
  color: #333;
}
.grid input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -999;
}
.grid input[type=radio]:checked + .option {
  background-color: #00B2FF;
  color: #fff;
  transform: scale(1.05);
}
.grid .option {
  position: relative;
  cursor: pointer;
  border: none;
  display: block;
  z-index: 999;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 2px;
  padding: 0.5em 0;
  transition: all 200ms ease-out;
  box-shadow: 0 1px 2px #4444441f;
}
.grid .option:hover {
  background-color: #56E39F;
  color: #fff;
}

.excellent {
  background-color: #0cce6b20;
  margin: 3em auto;
  border-radius: 3px;
}
.excellent h1 {
  color: #2BA84A;
}
.excellent p {
  text-align: center;
  color: #2BA84A;
  padding: 1em 3em;
  font-size: 1.5em;
}
.excellent .score {
  background-color: #2BA84A;
}

.okay {
  background-color: #ffbb1120;
  margin: 3em auto;
}
.okay h1 {
  color: #e8884c;
}
.okay p {
  text-align: center;
  color: #e8884c;
  padding: 1em 3em;
  font-size: 1.5em;
}
.okay .score {
  background-color: #e8884c;
}

.bad {
  background-color: #e3170a20;
  margin: 3em auto;
}
.bad h1 {
  color: #f7372a;
}
.bad p {
  text-align: center;
  color: #f7372a;
  padding: 1em 3em;
  font-size: 1.5em;
}
.bad .score {
  background-color: #f7372a;
}

.num {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #56E39F;
  color: #fff;
  font-size: 0.9em;
  transform: translateY(-0.1em);
  width: 1.8em;
  height: 1.8em;
  margin-left: 0.5em;
  line-height: 1.35em;
  border-radius: 50%;
  box-shadow: 0 1px 1px #44444440;
}
.num:nth-child(even) {
  background-color: #00B2FF;
}

.score {
  transform: translateY(0.5em);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 2.4em;
  width: 3em;
  height: 3em;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 1px #44444440;
}

::placeholder {
  color: #56E39F;
}

input[type=text] {
  font-weight: 300;
  text-align: center;
  font-size: 1em;
  width: 8em;
  position: relative;
  border: none;
  transition: all 300ms ease-out;
  border-radius: 2px;
  color: #56E39F;
}
input[type=text]:focus {
  outline: none;
}
input[type=text]:focus ~ span {
  width: 100%;
}

.intro {
  text-align: center;
  margin-top: 2em;
  padding: 3em 5em;
  font-size: 2em;
  line-height: 1.7em;
  background-color: #ffffff;
  box-shadow: 0 0 30px #4444440f;
}

.name {
  position: relative;
  display: inline-block;
  padding: 0;
}
.name span {
  padding: 0;
  margin: 0 0.5em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  border-bottom: 1px solid #666;
  transition: all 300ms ease-out;
}

.correct {
  background-color: #56E39F;
  color: #fff;
  padding: 0.8em;
  font-size: 1.1em;
  margin: 1.5em 1em;
  text-transform: capitalize;
  text-align: center;
}

.incorrect {
  background-color: #e3170aaa;
  color: #fff;
  padding: 0.8em;
  font-size: 1.1em;
  margin: 1.5em 1em;
  text-transform: capitalize;
  text-align: center;
}

.green {
  font-style: italic;
  color: #56E39F;
}

.wrong {
  margin: 5em auto;
  font-size: 3em;
  width: 600px;
  line-height: 1.6em;
}

@media (max-width: 940px) {
  body {
    font-size: 0.85em;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  section p {
    margin: 1em 0.5em;
  }
  section h2 {
    text-align: center;
  }
}
@media (max-width: 580px) {
  body {
    font-size: 0.7em;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 440px) {
  body {
    font-size: 0.65em;
  }
}

/*# sourceMappingURL=main.css.map */
